/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */


/*.square {
    width: 400px;
    height: 400px;
    background: hotpink;
    display: block;
}
*/

/* Load custom fonts */

/*
@font-face {
font-family: 'Avenir Next LT Pro Demi';
font-style: normal;
font-weight: normal;
src: local('Avenir Next LT Pro Demi'), url('../fonts/AvenirNextLTPro-Demi.woff') format('woff');
}


@font-face {
font-family: 'Avenir Next LT Pro Heavy Condensed';
font-style: normal;
font-weight: normal;
src: local('Avenir Next LT Pro Heavy Condensed'), url('../fonts/AvenirNextLTPro-HeavyCn.woff') format('woff');
}
*/


/*
@font-face {
font-family: 'Avenir Next LT Pro Regular';
font-style: normal;
font-weight: normal;
src: local('Avenir Next LT Pro Regular'), url('../fonts/AvenirNextLTPro-Regular.woff') format('woff');
}*/



body {
    font-family: 'Roboto', sans-serif;
   /*background: #a90329;
    background: -moz-linear-gradient(top, #a90329 0%, #8f0222 44%, #6d0019 100%);
    background: -webkit-linear-gradient(top, #a90329 0%,#8f0222 44%,#6d0019 100%);
    background: linear-gradient(to bottom, #FA955A 0%,#fdc392 44%, #ccc 100%);*/
    /*background: #464646;*/
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a90329', endColorstr='#6d0019',GradientType=0 );
    font-weight: 300;

}

header {
    background-image: url('../img/studio-gradient-orange.jpg');
    background-repeat: no-repeat;
    background-position: center;
    padding-top: 20px;
    margin-top: -110px;
    background-size: cover;
    height: 100vh;
    font-weight: 400;
}

h1{
/*    image: url('../img/Kivukologo.png');*/
    color: #FDF6F1;
    font-size: 30px;
    text-align: left;
    padding-top: 30px;
    padding-left: 30px;
}

h2{
    color: #FDF6F1;
    font-size: 36px;
    padding-top: 80px;
    margin-right: 60%;
    padding-left: 30px;
}

/* navigation styles */
nav {
/*  position: absolute;*/
/*  font-family: 'Avenir Next LT Pro Regular', sans-serif;*/
    color: #FDF6F1;
    right: 0;
}

nav ul {
    clear: both;
    list-style: none;
    text-align: right;
    padding: 37px 5px;
}

nav li {
    display:inline-block;
    margin: 0 20px;
    text-align: right;
}

nav li a{
    color: #FDF6F1;
    text-decoration: none;
}

nav li a:hover{
    color: #464646;
}

article{
 /*   font-family: 'Avenir Next LT Pro Regular', sans-serif;*/
    color: #FDF6F1;
    text-align:center;
    font-size: 20px;
    margin: 0 20%;
    margin-top: 200px;
    padding-bottom: 50px;
}

article h3{
    font-size: 24px;
    margin-bottom: 80px;
    font-weight: 400;
}


h3{
    color: #464646;
    font-size: 24px;
    font-weight: 400;
    text-align: center;
}

h4{
    color: #464646;
    font-size: 24px;
    text-align: center;
    margin-bottom: 100px;
    margin-top: 250px;
    font-weight: 400;
}

article p{
    line-height: 24px;
    color: #464646;
    padding-bottom: 0;
}

section{
    color: #464646;
}


article img {
    width:100%;
    height: auto;
}
/*Video*/

/*section.video {
    max-width: 100%;
    position: relative;
}

section.video video {
    width: 100%;
}

section.video h2 {
    position: absolute;
    color: lightgrey;
    width: 100%;
    text-align: center;
    margin: -8px 0 0;
    top: 50%;
}

section.video button {
    position: absolute;
    bottom: 25%;
    left: 50%;
    margin-left: -19px;
    font-family: 'Roboto Mono', monospace;
}*/

section.grid {
    line-height: 24px;
    text-align: left;
}

section.grid div.grid-item {
    width: 230px;
    height: 260px;
    margin-left: 8.5%;
    margin-top: 5%;
    background: #464646;
    display: inline-block;
    color: #FDF6F1;
    padding-top: 40px;
    padding-bottom: 20px;
    padding-left: 40px;
    position: relative;
}


section.grid div.grid-item div.hover{
    /*font-family: 'Avenir Next LT Pro Regular', sans-serif;*/
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    background: #464646;
    width: 100%;
    height: 100%;
}


section.grid div.grid-item div.hover.active{
    image: url('../img/graphic1.jpg');
    display: block;
    color: white;
}

div.boxed{
    background-color: #464646;
    width: 250px;
    height: 25px;
    margin-top: 35px;
    margin-left: 875px;
    padding-left: 20px;
    padding-top: 0px;
/*    image: url('../img/chatbox.png');
    width: 10%; */
}

section div {
    color: #FDF6F1;
    font-size: 24px;
    padding-top: 25px;
    padding-bottom: 4px;
    font-weight: 400;
}

div ul li{
    padding-top: 20px;
    font-size: 18px;
    margin-right: 15px;
}

section div {
    padding-left: 40px;
    padding-top: 40px;
    padding-bottom: 40px;
}

section div p{
    padding-top: 20px;
    font-weight: 300px;
    font-size: 18px;
    line-height: 36px;
    margin-right: 40px;
}

/*clients*/

section.clients {
    background: #464646;
    width: 100%;
    height: 600px;
    padding-bottom: 15%;
    box-sizing: border-box;
    text-align: center;
}

section.clients img {
    width: 8%;
    margin: 4% 4.5% 7%;
    display: inline-block;
}

section.clients img.airtel {
    width: 5.5%;
}

footer{
    width: 100%;
    height: 100px;
}

footer ul li{
    display: inline-block;
    text-align: left;
    margin-right: 50px;
    padding-left: 5%;
    padding-top: 35px;
    list-style: none;
}

footer ul a{
    display:inline-block;
    margin-left: 7px;
    padding: 7px;
    text-decoration: none;
    color: black;
}

footer ul a:hover{
    color: #F7955C;
}

footer a{
image: url('../img/instagram.png');
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap; /* 1 */
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    clip-path: none;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
    white-space: inherit;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after,
    p:first-letter,
    div:first-letter,
    blockquote:first-letter,
    li:first-letter,
    p:first-line,
    div:first-line,
    blockquote:first-line,
    li:first-line {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
